/*Fuentes*/
@font-face{font-family:"hola";
    src: url("../css/fonts/nevis.eot");
    src:url("../css/fonts/nevis.eot?#iefix") format("embedded-opentype"), 
        url("../css/fonts/nevis.woff")format("woff"),
        url("../css/fonts/nevis.ttf")format("truetype"),
        url("../css/fonts/nevis.svg")format("svg");
    font-style: normal;
    font-weight: normal;}

    @font-face{font-family:"jala";
        src: url("../css/fonts/FjallaOne-Regular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;}
/*Estilos generales*/
*{padding: 0;
 margin: 0;}
body{background-image: url(../img/paven.png);}
 /*estilos generales de los formularios*/
input[type=text],input[type=password],input[type=email],select{
        border: 1px solid #c9c9c9;
        box-shadow: 0px 0px 2px #ccc inset;
        padding: 1px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: gray;
        transition: all 300ms;
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus
,select:focus{
        border: 1px solid #70b233;
        color: black;}
input[type=button],input[type=submit],input[type=reset],button{
        display: block;
        border-radius: 2px;
        width: 60px;
        padding: 3px;
        background-color: #70b233;
        border: 1px solid green;
        cursor: pointer; 
        color: white; 
        margin: 0 auto;
}
input[type=button]:hover,input[type=submit]:hover,
input[type=reset]:hover,button:hover{
        box-shadow: 0px 2px 2px gray ;
}
input[type=button]:active,input[type=submit]:active,
input[type=reset]:active,button:active{
    box-shadow: 0px 0px 4px gray inset;
    text-shadow: 0px 0px 2px black;
}
a{  
    color: #529125;
    text-decoration: none;}
a:visited{
    color: #529125;
}

a:hover{color: #285616;}
 /*cabecera*/
 header{
     min-width: 1024px;
     width: 100%;
     height: 250px;}
 .titulo__principal{
        text-decoration: none;}
.logotipo{
    margin: 0 auto;
    width: 770px;
    padding-top: 20px;}
.logotipo img {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 140px;}
header h1{
    text-align: center;
    font-size: 40px;
    color: #70b233;
    font-family:"hola";
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;}
    header h1:hover{
         text-shadow: 0px 2px 1px #333333,0px 0px 4px #70b233;}
/*------------BARRA DE NAVEGACION--------------*/
.barra{
    width:100%;
    height: 40px;
    background-color: #333333;
    font-family: sans-serif,Helvetica,Arial;
    color: white;
    font-size: 14px;
    box-shadow:0px 0px 2px gray;
}
.menu__barra{
    list-style: none;
    text-decoration: none;
    margin:0px auto;
    width: 1090px;
}
.menu__barra>li{
    line-height: 40px;
    float:left;
    border-right: 1px solid gray;
    transition: all 300ms;
}
.menu__barra>li>a{
    color: white;
    text-decoration: none;
    display: block;
    padding-left:20px ;
    padding-right: 20px;
}
.menu__barra>li>a:first-child{
    border-left: 1px solid gray;
}
.menu__barra>li:hover{
    background-color: #70b233;
    box-shadow: 0px 0px 4px green inset;
}
/*------MENU DESPLEGABLE-------*/
.barra>ul>li>ul{
    display: none;
    position: absolute;
    text-align:left;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index: 20;
    text-decoration: none;}
 .barra>ul>li:hover>ul{display: block;}
 .barra>ul>li:hover>ul>li{
    text-decoration: none;
    color: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;}
    .barra>ul>li>ul>li>a{
        text-decoration: none;
        color: #666666;
        padding-left:10px;
        transition: all 300ms;}
    .barra>ul>li>ul>li:hover{
        background-color: #70b233;
        box-shadow: 0px0px 5px #cccccc inset;
    }
    .barra>ul>li>ul>li:hover>a{
        color: white;
    }
    /*------------contenido---------------*/
    .contenido{
        width:1250px;
        min-height:1100px; 
        margin: 0 auto;}
    /*--lateral--*/
    .lateral,.frase{width:200px;
        background-color: white;
        margin: 30px;
        border: 1px solid #cccccc;
        box-shadow: 0px 2px 2px #cccccc;
        font-family: sans-serif,arial,Helvetica;
        float: left;}
    .frase div{
        padding:10px;
        font-family: sans-serif;}
    .frase div a{
        display: block;}
    .login{
        display:block;
        width: 180px;
        margin:5px auto;
        padding: 8px;
        padding-left:10px;
        padding-right:10px;
        font-size: 14px;
        border-bottom: 1px #333333 dashed;
    }
    .login__lateral{
        text-align: center;
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc;
        background-color:#F2F3F2;
        width: 100%;
        margin-bottom: 15px;}
    .contenido .login:last-child{
            margin-bottom: 20px;
    }
    .lateral li{
        margin-top: 8px;
        margin-bottom: 5px;
        margin-left: 20px;
        list-style: square;
    }
    /*formularios lateral*/
.lateral div label,
.lateral div input[type=text],
.lateral div input[type=email],
.lateral div input[type=password],
.lateral div a{
        display:block;
        width: 95%;
        margin-top: 2px;
        margin-bottom: 2px;}
.lateral div input[type=submit],
.lateral div input[type=button],
.lateral div button{
        margin-top: 5px;
        margin-bottom: 10px;
}
.lateral input,.lateral label{
    text-align: center;
    margin: 0 auto;
}
#aula1{
    color: #0C73F2;
}
#aula2{
    color: #9B2422;
}
/*------ secciones------*/
.secciones{
    float: right;
    width: 75%;
    font-family: sans-serif,arial,Helvetica;
    margin-right: 20px;
}
.secciones h2{
    font-size: 24px;
    margin-bottom: 24px;
    font-family: "jala";
    text-align: center;
    letter-spacing: 1px;
    font-weight: normal;
    padding-top:2px ;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}
.secciones section{
    border:solid 1px #ccc;
    box-shadow: 0px 0px 4px #c9c9c9;
    background-color: white;
    margin-top: 40px;
    color:#333333;
    font-size: 16px;
    overflow: hidden;
    padding: 20px;
}
.secciones article{
    margin: 10px;
    margin-top:20px;
    margin-bottom: 20px;
}
.secciones .fecha{
    color: gray;
    font-size: 14px;
}