@media (max-width:1250px) {
    .wrap{
        width: 90%;
        margin: 0 auto;
    }
    .card{
        width: 17%;
        margin: 1.34%;
    }
    .articulos{
        width: 65%;
    }
    .articulos article{
        width: 97%;
    }
    .footer .wrap div{
        width: 24%;
    }
}